/* Fuente */
.customFont {
  font-family: "Parkinsans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* Fondo degradado */
.login-container {
  background-color: #d7ceff;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Parkinsans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* Caja del formulario */
.login-box {
  background: #e9e9e9;
  padding: 20px 30px;
  width: 100%;
  max-width: 400px;
  border-radius: 15px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
  text-align: center;
  font-family: "Parkinsans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* Título */
.login-box h2 {
  margin-bottom: 20px;
  color: #a29fb1;
  font-size: 1.8rem;
  font-weight: bold;
  font-family: "Parkinsans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* Grupo de input */
.input-group {
  margin-bottom: 15px;
  text-align: left;
  font-family: "Parkinsans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.input-group label {
  display: block;
  font-size: 0.9rem;
  margin-bottom: 5px;
  color: #555;
  font-family: "Parkinsans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.input-group input {
  width: 100%;
  padding: 10px;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 8px;
  outline: none;
  font-family: "Parkinsans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* Botón de acción */
.login-btn {
  width: 100%;
  padding: 12px;
  font-size: 1rem;
  font-weight: bold;
  background: #7e7997;
  color: #fff;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background 0.3s ease;
  margin-top: 10px;
  font-family: "Parkinsans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.login-btn:hover {
  background: #b4afca;
}

/* Botón secundario */
.login-btn.secondary {
  background: #877997;
}

.login-btn.secondary:hover {
  background: #b5a2ca;
}

/* Link de navegación */
.nav-link {
  margin-top: 10px;
  font-size: 0.9rem;
  color: #7e7997;
  text-decoration: none;
  font-family: "Parkinsans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.nav-link:hover {
  color: #b4afca;
  text-decoration: underline;
}
